@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.55);
    overflow-x: hidden;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header, .footer {
    flex-shrink: 0;
}



/* Admin Dashboard Header Section */
.header{
    width:100%;
    height: 70px;
    background-color: black;
}

header .Logo {
    width: 50px;
    height: 50px;
    left:55px;
    top: 8px;
    position: absolute;
    display:flex;
}

header .zion-cinema {
    color: white;
    font-size: 35px;
    font-family: Playfair Display;
    font-weight: 700;
    word-wrap: break-word;
    left: 110px;
    top: 12px;
    position: absolute;
}

.zion-cinema a {
    text-decoration: none; 
    color: inherit;
    cursor: pointer;
}

header .search-bar{
    width: 400px;
    height: 30px;
    top:20px;
    left:400px;
    position: absolute;
    border:2px solid white;
    border-radius: 7px;
}

header .search-bar span{
    color:white;
    font-size: 18px;
    margin-left:20px;
    top:5px;
    position:relative;
}

header .AD-username{
    color:white;
    font-size: 16PX;
    width: auto;
    font-weight: bold;
    top:20px;
    left:1350px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
}

header .word-admin{
    color:white;
    font-size: 12PX;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    top:40px;
    left:1350px;
    position: absolute;
}

header .user-icon{
    width: 30px;
    left:1295px;
    top:15px;
    position:absolute;
    font-size: 40px;
    color:white;
}

header .notification-icon{
    width:40px;
    height:40px;
    position: absolute;
    margin-left:1220px;
    margin-top: 15px;
}

header .message-icon{
    width:40px;
    height:40px;
    position: absolute;
    margin-left:1150px;
    margin-top: 15px;
}



/* navigation panel of Admin Dshboard*/

.navigation {
    height: 100%;
    background-color: black;
    width: 350px;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-menu {
    list-style-type: none;
    padding: 30px 0;
    width:80%;
    margin-left: 10%;
}

.nav-menu a {
    text-decoration: none; 
    color: inherit;
    cursor: pointer;
}

.nav-item {
    display: flex;
    align-items: center;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

.nav-item span{
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}

.nav-item img {
    font-size: 20px;
    margin-right: 50px;
}

.nav-item.active {
    background-color: #ffc107;
    color: black;
    font-weight: bold;
    border-radius: 10px;
}

.logout {
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    margin-top: 550px;
    font-weight: bold;
    margin-left: 40px;
    background-color: transparent;
    border:none;
}

.logout img {
    font-size: 20px;
    margin-right: 15px;
}

.logout span {
    font-size: 20px;
    margin-left: 25px;
}







/* AD-Customers Webpage Styles */

.middle-container{
    height: 90%;
    width:1080px;
    left:400px;
    top:110px;
    border-radius: 5px;
    background-color: black;
    position: absolute;
}

/* Header */
.header-container{
    height: 40px;
    width:1000px;
    margin-top:40px;
    margin-left: 40px;
    background-color: #2A2A2A;
    position: absolute;
}

.header-top{
    font-size: 16px;
    margin-top:10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position :absolute;
    color:#F5C51B;
}

/* Customer Detail Container */
.content-container{
    height: calc(100% - 130px);
    width:1000px;
    margin-left: 40px;
    margin-top:90px;
    background-color: black;
    position: absolute;
    overflow-y: auto;
}

.content-container::-webkit-scrollbar {
    width: 15px; 
}

.content-container::-webkit-scrollbar-track {
    background: black; 
}

.content-container::-webkit-scrollbar-thumb {
    background: #555; 
    border-radius: 5px;
}

.content-container::-webkit-scrollbar-thumb:hover {
    background: #777;
}

.content-container {
    scrollbar-color: #555 black; 
    scrollbar-width: thin;
}

.content-container .customer{
    width:100%;
    height: 40px;
    margin-top:0px;
    border-bottom: 1px solid white;
    position: relative;
}

.customer-fname {
    color: white;
    font-size: 16px;
    margin-top: 10px; 
    font-family: Arial, Helvetica, sans-serif;
    left: 20px;
    position: absolute; 
    display: inline-block; 
}

.customer-lname {
    color: white;
    font-size: 16px;
    margin-top: 10px; 
    font-family: Arial, Helvetica, sans-serif;
    left: 260px;
    position: absolute; 
    display: inline-block; 
}

.customer-email {
    color: white;
    font-size: 16px;
    margin-top: 10px; 
    font-family: Arial, Helvetica, sans-serif;
    left: 500px;
    position: absolute; 
    display: inline-block; 
}

.customer-phone {
    color: white;
    font-size: 16px;
    margin-top: 10px; 
    font-family: Arial, Helvetica, sans-serif;
    left: 850px;
    position: absolute; 
    display: inline-block; 
}

/* Admin Dashboard Customers webpage styling end */



/*Admin Dashboard customer Inquiry Webpage Styling*/
.content-container .customer-inq{
    width:100%;
    height: 140px;
    margin-top:0px;
    border-bottom: 1px solid white;
    position: relative;
}

.customer-name {
    color: white;
    font-size: 16px;
    margin-top: 10px; 
    font-family: Arial, Helvetica, sans-serif;  
    display: inline-block; 
    left: 20px;
    position: absolute;
}

.customer-mail {
    color: white;
    font-size: 16px;
    position: absolute; 
    display: inline-block; 
    margin-top: 10px; 
    font-family: Arial, Helvetica, sans-serif;
    left: 240px;
}

.customer-message {
    color: white;
    font-size: 16px;
    margin-top: 10px;
    position: absolute;
    line-height: 20px;; 
    display: inline-block; 
    font-family: Arial, Helvetica, sans-serif;
    left: 490px;
}
/*Admin Dashboard customer Inquiry Webpage Styling end*/



/*Admin Dashboard food menu Webpage Styling*/

.product-cat{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    height: 40px;
    color: white;
    font-weight: bold;
    margin-left:40px;
    margin-top:30px;
    position: absolute;
}

.add-item{
    width:130px;
    height:35px;
    margin-left:900px;
    margin-top: 30px;
    position: absolute;
    border:3px solid #F5C51B;
    border-radius: 7px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: transparent;
    cursor: pointer;
}

.add-item p{
    font-size: 18px;
    color:#F5C51B;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:20px;
    margin-left: 30px;
    position: absolute;
}

.add-item i{
    font-size: 20px;
    color:#F5C51B;
    font-weight: bold;
    margin-top:3px;
    margin-right: 80px;
    font-weight: bold;
    position: absolute;

}

.content-container .product{
    width:100%;
    height: 40px;
    margin-top:0px;
    border-bottom: 1px solid white;
    position: relative;
}



.product-id {
    color: white;
    font-size: 16px;
    margin-top: 10px; 
    font-family: Arial, Helvetica, sans-serif;
    left: 10px;
    position: absolute; 
    display: inline-block; 

}

.product-name {
    color: white;
    font-size: 16px;
    margin-top: 10px; 
    font-family: Arial, Helvetica, sans-serif;
    left: 160px;
    position: absolute; 
    display: inline-block; 

}

.product-type{
    color: white;
    font-size: 16px;
    margin-top: 10px; 
    font-family: Arial, Helvetica, sans-serif;
    left: 470px;
    position: absolute; 
    display: inline-block; 
}

.product-unitprice{
    color: white;
    font-size: 16px;
    margin-top: 10px; 
    font-family: Arial, Helvetica, sans-serif;
    left: 670px;
    position: absolute; 
    display: inline-block; 
}

.product p, .product div {
    padding: 0 10px; 
}

.actions {
    display: flex; 
    align-items: center;
    left: 850px; 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
}

.delete {
    color: red;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    
}

.edit{
    color: #F5C51B;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.view{
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer; 
}







/*Admin Dashboard food menu Webpage Styling end*/



/* Food item Slider styles */

.slider
 {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 50%;
    background-color: black;
    transition: 0.5s;
    z-index: 1000;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}

.slider.active
{
    right: 0;
}

.slider-container {
    display:flex;
    max-width: 789px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.slider-header {
    display: flex;
    color: white;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
}
  
        .Add {
            font: 700 27px arial, sans-serif;
            margin-left: 30px;

        }

        .close {
            width: 40px;
            height: 40px;
            margin-top: -7px;
            margin-left:90%;
            position: absolute;
            cursor: pointer;
        }

.slider-hline{
    margin-top: 5px;
    margin-left: 0px;
    position: relative;
} 

.slider-form {
    margin-top: 0px;
    position: relative;
}

.form-label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    left: 30px;
    position: absolute;
}

.form-pname {
    border-radius: 5px;
    border-color: white;
    color:white;
    border-style: solid;
    border-width: 1px;
    width: 460px;
    background-color: transparent;
    height: 35px;
    left: 35%;
    top: 30px;
    position: absolute;
}

.image-select {
    border-radius: 10px;
    border-color: white;
    border-style: dashed;
    width: 60%;
    height: 150px;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    left: 35%;
    top: 330px;
    position: absolute;
}
  
.img-3 {
    aspect-ratio: 1.47;
    object-fit: auto;
    object-position: center;
    width: 60px;
    margin-top: 20px;
}
  
.cat-select select {
    background-color: transparent; 
    color: white; 
    font-weight: 400;
    width: 100px;
    position: absolute;
    left: 35%;
    top: 130px;
    border: 1px solid white; 
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.cat-select option {
    background-color: black;
    border:1px solid white;
    color: white; 
}
  
.form-pprice{
    border-radius: 5px;
    border-color:white;
    border-style: solid;
    color:white;
    border-width: 1px;
    width: 460px;
    background-color: transparent;
    height: 35px;
    left: 35%;
    top: 220px;
    position: absolute;
}
  
.div-20 {
    margin-top: 14px;
    font: 18px ;
    color:white;
}
  
.div-21 {
    margin-top: 12px;
    font: 12px;
    margin-left: 30px;
    width:400px;
    color:white;
}

.image-edit{
    width: 135px;
    height: 140px;
    left: 5px;
    top: 5px;
    position: absolute;
}

.view-pname {
    width: 460px;
    height: 35px;
    font-size: 16px;
    color: white;
    left: 35%;
    top: 30px;
    position: absolute;
}
  
.pcat-type{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    color: white;
    font-weight: 400;
    font-size: 16px;
    width:100px;
    left: 35%;
    top: 130px;
    position: absolute;
}

.view-pprice{
    border-width: 1px;
    width: 460px;
    height: 35px;
    font-size: 16px;
    color: white;
    left: 35%;
    top: 220px;
    position: absolute;
}
  
.image-display{
    width: 145px;
    height: 155px;
    left: 35%;
    top: 330px;
    position: absolute;
}

.custom-file-upload input[type="file"] {
    display: none;
}

input[type="text"] {
    color:white;
}

.sbut-save {
    border-radius: 5px;
    background-color: #F5C51B;
    align-items: center;
    color: white;
    justify-content: center;
    flex-grow: 1;
    padding: 0px 0px;
    top:545px;
    left:53%;
    width: 43%;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    border:none;
    cursor: pointer;
}
  
.sbut-cancel {
    border-radius: 5px;
    border-color: #F5C51B;
    border-style:0.5px solid;
    border-width: 1px;
    background-color: transparent;
    align-items: center;
    color: #F5C51B;
    font-weight: bold;
    font-size: 16px;
    justify-content: center;
    flex-grow: 1;
    width: 43%;
    padding: 0px 0px;
    height: 35px;
    top:545px;
    left:30px;
    position: absolute;
    cursor: pointer;
}
  
.slider-endhline{
    width: 100%; 
    position: absolute;
    bottom: 20px;
    left: 0; 
    z-index: 10;
    top:520px; 
}  

.sbut-done {
    border-radius: 5px;
    background-color: #F5C51B;
    align-items: center;
    color: #fff;
    justify-content: center;
    flex-grow: 1;
    padding: 0px 0px;
    top:545px;
    left:30px;
    width: 25%;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    border:none;
    cursor: pointer;
}
  
  
  
  
/*  Movie CRUD Operations Admin Dashboard*/


.content-container .movie{
    width:100%;
    height: 40px;
    margin-top:0px;
    border-bottom: 1px solid white;
    position: relative;
}

.movie-id {
    color: white;
    font-size: 16px;
    margin-top: 10px; 
    font-family: Arial, Helvetica, sans-serif;
    left: 10px;
    position: absolute; 
    display: inline-block; 
}

.movie-name {
    color: white;
    font-size: 16px;
    margin-top: 10px; 
    font-family: Arial, Helvetica, sans-serif;
    left: 140px;
    position: absolute; 
    display: inline-block; 
}

.movie-genre{
    color: white;
    font-size: 16px;
    margin-top: 10px; 
    font-family: Arial, Helvetica, sans-serif;
    left: 570px;
    position: absolute; 
    display: inline-block; 
}

.movie-duration{
    color: white;
    font-size: 16px;
    margin-top: 10px; 
    font-family: Arial, Helvetica, sans-serif;
    left: 710px;
    position: absolute; 
    display: inline-block; 
}

.movie p, .movie div {
    padding: 0 10px; 
}

.movie-actions {
    display: flex; 
    align-items: center;
    left: 850px; 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
}


/*Movie Slider Styles*/

.movie-slider {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 50%;
    background-color: black;
    transition: 0.5s;
    z-index: 1000;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}

.movie-slider.active {
    right: 0;
}

.movie-slider-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.movie-slider-header {
    display: flex;
    color: white;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
    flex-shrink: 0;
}
  
        .movie-slider-title {
            font: 700 27px arial, sans-serif;
            margin-left: 30px;

        }

        .close-movie-slider {
            width: 40px;
            height: 40px;
            margin-top: -7px;
            margin-left:90%;
            position: absolute;
            cursor: pointer;
        }

.movie-slider-hline{
    margin-top: 5px;
    margin-left: 0px;
    position: relative;
} 



/* Footer Section */
.movie-slider-footer {
    flex-shrink: 0;
    padding: 20px;
    text-align: center;
    background-color: black;
    border-top: 1px solid #F5C51B;
    height:40px
}

.movie-btn-cancel {
    border: 1px solid #F5C51B;
    background-color: transparent;
    color: #F5C51B;
    font-weight: bold;
    width: 43%;
    height: 35px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    left:30px;
    position: absolute;
}

.movie-btn-save {
    background-color: #F5C51B;
    color: white;
    font-weight: bold;
    width: 43%;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    left:53%;
    position: absolute;
}



/* Scrollable Form Section */
.movie-slider-form {
    flex-grow: 1; 
    overflow-y: auto; 
    box-sizing: border-box;
    overflow-x: hidden;
}

.movie-slider-form::-webkit-scrollbar {
    width: 8px;
}

.movie-slider-form::-webkit-scrollbar-track {
    background: #2A2A2A;
}

.movie-slider-form::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
}

.movie-slider-form::-webkit-scrollbar-thumb:hover {
    background: #777;
}





.movie-form-row {
    display: flex;
    align-items: center;
    margin-bottom: 35px; 
}

.movie-form-label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    left: 25px;
    position: relative;
    width: 150px; 
}

 .form-m-name {
    border-radius: 5px;
    border-color: white;
    color:white;
    border-style: solid;
    border-width: 1px;
    width: 460px;
    background-color: transparent;
    height: 35px;
    left: 15%;
    position: relative;
}
  
.view-m-name {
    color:white;
    width: 460px;
    left: 15%;
    font-size:16px;
    top:0px;
    position: relative;
}
  
input[type="text"] {
    color:white;
}

.form-m-desc {
    border-radius: 5px;
    border-color: white;
    color:white;
    border-style: solid;
    border-width: 1px;
    width: 460px;
    background-color: transparent;
    height: 65px;
    left: 15%;
    position: relative;
    resize: none;
}
  
.view-m-desc {
    color:white;
    width: 460px;
    background-color: transparent;
    height: 80px;
    left: 15%;
    font-size: 16px;
    position: relative;
    top:10px;
}
  
.form-m-duration {
    border-radius: 5px;
    border-color: white;
    color:white;
    border-style: solid;
    border-width: 1px;
    width: 300px;
    background-color: transparent;
    height: 35px;
    left: 15%;  
    position: relative;
}
  
.view-m-duration {
    color:white;
    top:10px;
    width: 300px;
    background-color: transparent;
    height: 35px;
    left: 15%;
    font-size: 16px;
    position: relative;
}
   
.form-m-year {
    border-radius: 5px;
    border-color: white;
    color:white;
    border-style: solid;
    border-width: 1px;
    width: 300px;
    background-color: transparent;
    height: 35px;
    left: 15%;
    position: relative;
}
  
.view-m-year {
    top:10px;
    font-size: 16px;
    color:white;
    width: 300px;
    height: 35px;
    left: 15%;
    position: relative;
}
    
.form-m-rating {
    border-radius: 5px;
    border-color: white;
    color:white;
    border-style: solid;
    border-width: 1px;
    width: 300px;
    background-color: transparent;
    height: 35px;
    left: 15%;
    position: relative;
}
        
.view-m-rating {
    top:10px;
    font-size:16px;
    color:white;
    width: 300px;
    height: 35px;
    left: 15%;
    position: relative;
}
  
.form-m-genre {
    border-radius: 5px;
    border-color: white;
    color:white;
    border-style: solid;
    border-width: 1px;
    width: 300px;
    background-color: transparent;
    height: 35px;
    left: 15%;
    position: relative;
}
  
.view-m-genre {
    top:10px;
    font-size:16px;
    color:white;
    width: 300px;
    height: 35px;
    left: 15%;
    position: relative;
}
  
.status-select select {
    background-color: transparent; 
    color: white; 
    font-weight: 400;
    width: 300px;
    height:35px;
    padding:7px;
    left: 38%;
    border-radius: 5px;
    border: 1px solid white; 
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    position: relative;
}

.status-select option {
    background-color: black;
    border:1px solid white;
    color: white; 
}

.view-m-status{
    top:10px;
    font-size:16px;
    color:white;
    width: 300px;
    height: 35px;
    left: 15%;
    position: relative;
}

.form-m-trailer {
    border-radius: 5px;
    border-color: white;
    color:white;
    border-style: solid;
    border-width: 1px;
    width: 460px;
    background-color: transparent;
    height: 35px;
    left: 15%;
    position: relative;
}
  
.view-m-trailer{
    top:10px;
    font-size:16px;
    color:white;
    width: 460px;
    height: 35px;
    left: 15%;
    position: relative;
}

  
.m-image-select {
    border-radius: 10px;
    border-color: white;
    border-style: dashed;
    width: 60%;
    height: 150px;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 15%;
    position: relative;
}
  
.m-img-3 {
    aspect-ratio: 1.47;
    object-fit: auto;
    object-position: center;
    width: 60px;
    margin-top: 20px;
}
  
.custom-file-upload input[type="file"] {
    display: none;
}

.file-upload-banner {
    cursor: pointer;
    display: inline-block;
}

.img-preview-banner {
    width: 60%; 
    height: 140px;
}

.image-select-banner{
    border-radius: 10px;
    border-color: white;
    border-style: dashed;
    width: 60%;
    height: 150px;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 15%;
    padding:5px;
    position: relative;
}

.movie-display-image{
    width: 460px;
    height: 150px;
    left: 15%;
    position: relative;
}


  





